*{margin: 0%;
padding: 0%;}
body{background:rgb(195 223 235 / 49%)}
nav{background: rgb(12, 148, 202);
    margin: 300px;
    position: fixed;
    width: 100%;
    margin-left: 0px;}
#all{width: 1170px;
    margin-left: 100px;
    display: inline-block;
    padding: 10px;}
#logo{color: white;float: left;font-family: arial;
    font-size: 18px;}
#navList{float: right;}
#navList ul{list-style: none;float: right;}
li{display: inline-block;
    padding-right: 20px;}
li a{text-decoration: none; color: white;}
li a:hover{color: blueviolet;}